body{
    display: flex;
    font-family: Arial, sans-serif;
    background: slategrey;
    margin: 0;
}

.part_two{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.tab_head{
    display: flex;
}
textarea{
    height: 300px;
}
.part_two > div > button{
    border-radius: 10px;
    background: #24292e;
    color: #979797;
    height: 40px;
    width: 90px;
    margin-bottom: 10px;
}

input[type="text"]{
    margin-right: 10px;
    margin-left: 10px;
    min-height: 30px;
    font-size: 16px;
    color: #ffffff;
    background-color: rgba(255,255,255,0.12);
    display: table-cell;
    width: 350px;
    height: 40px;
    padding-left: 10px;
    border: 0;
    box-shadow: none;
    border-radius: 10px;
}
input[type = "submit"]{
    margin-right: 10px;
    margin-left: 10px;
    color: #979797;
    text-decoration: none;
    background-color: transparent;
    height: 40px;
    border-radius: 10px;
}

#add_in  p {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
}
#add_in{
    display: flex;
    justify-content: center;
}
#add_in > div{
    background: #9da998;
    border-radius: 150px;
    padding: 10px;
    width: 100%;
}
#add_in > div > img{
    margin-right: 100px;
    margin-left: 200px;
}
.bio{
    width: 50%;
}
.info{
    width: 1000px;
}
.info_center{
    margin-left: 50px;
}
.github_head{
    background: #24292e;
    width: 100%;
    height: 70px;
    margin-bottom: 20px;
}
.inp{
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 15px;
}
.userInfo{
    margin-top: 50px;
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#root > div{
    display: flex;
    flex-direction: column;
}
.bioInfo{
    display: flex;
    flex-direction: row;
    width: 900px;
}
image {
    height: 460px;
}